<div>
    <ng-container *ngIf="loggedIn">
        <!-- #Left Sidebar ==================== -->
    <app-side-bar (valueChanged)="onValueChange($event)"></app-side-bar>  
    <!-- #Main ============================ -->
    <div class="page-container">
        <!-- ### $Topbar ### -->
        <app-page-header></app-page-header>
        <!-- ### $App Screen Content ### -->
        <main class="main-content bgc-grey-100">            
            <ng-container *ngIf="showChat && !showDashBoard && !showUserData;else userTemplate">
                <app-chat></app-chat>
            </ng-container>
            
            <ng-template #userTemplate>
                <ng-container *ngIf="!showChat && !showDashBoard && showUserData;else dashboard">
                    <app-all-users></app-all-users>
                </ng-container>                
            </ng-template>
            <ng-template #dashboard>
                <app-dashboard></app-dashboard>
            </ng-template>
        </main>
        <!-- ### $App Screen Footer ### -->
        <app-page-footer></app-page-footer>
    </div>
</ng-container>
<ng-container *ngIf="!loggedIn">
<app-user-login></app-user-login>
</ng-container>
</div>