@page
@using  IntermediatorBotSample.Pages
@model IndexModel
@{
}
    <div style="background-color:blueviolet;">
        <h1>Agent User Bot Framework</h1>
        <button onclick="CallBotApi();"> Argha Guha Biswas</button>
        @*<p>
        The purpose is to serve as a sample on how to implement the human hand-off.
        Visit <a href="https://github.com/tompaana/intermediator-bot-sample">https://github.com/tompaana/intermediator-bot-sample</a> to learn more.
        </p>*@

        <p>The bot endpoint URL is: <a id="botEndpointUrl" /></p>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
        <script>
    var botEndpointUrlLink = document.getElementById("botEndpointUrl");
    botEndpointUrlLink.setAttribute('href', location.protocol + "//" + location.host + "@Model.BotEndpointPath");
    botEndpointUrlLink.innerHTML = location.protocol + "//" + location.host + "@Model.BotEndpointPath";
        </script>

        @*<p>The bot credentials are:</p>
        <ul>
            <li id="botAppId" />
            <li id="botAppPassword" />
        </ul>*@

        <script>
            $(document).ready(function() {
  $.post('http://localhost:3979/api/messages', {
    "type": "message",
    "from": {
      "id": "user1"
    },
    "text": "hello"
  }).fail(function(error) {
    debugger;
  }).done(function(response) {
    debugger;
  });
            });

              function CallBotApi() {

         $.ajax({
        type: "POST",
        url: "http://localhost:29210/api/messages",
        //data: '{conversationId: "f34d48e0-37b8-11ea-8f71-014859054f51|livechat",expires_in: 2147483647,streamUrl: "",token: "http://localhost:3978/api/messages"}',
        data:'{"type":"message","id":"ghjjhjhvhj","timestamp":"2020-10-19T20:17:52.2891902Z","serviceUrl":"http:\/\/localhost:3978","channelId":"arghaChannel","from":{"id":"argha guha biswas","name":"Jeet"},"conversation":{"id":"f34d48e0-37b8-11ea-8f71-014859054f51|livechat","name":"TestConversation"},"recipient":{"id":"12345678","name":"banchodbot"},"text":"Haircut on Saturday"}',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: OnSuccess,
        failure: function(response) {
            alert(response.d);
        }
    });
}
function OnSuccess(response) {
    alert(response.d);
}
    var botAppIdItem = document.getElementById("botAppId");
    botAppIdItem.innerHTML = "App ID: @Model.BotAppId";
    var botAppPasswordItem = document.getElementById("botAppPassword");
    botAppPasswordItem.innerHTML = "App password: @Model.BotAppPassword";
        </script>
    </div>